:root {
  --main-bg-color: #fffff9;
  --secondary-bg-color: #fef3e4;
  --main-text-color: #2e2520;
  --accent-text-color: #876655;
  --icon-color: #674d40;
  --main-accent: #ab816c;
  --light-accent: #fff;
  --dark-accent: #000;

  --main-font: 'Montserrat', sans-serif;
  --decorative-font: 'Caveat Brush', cursive;

  --duration: 2300ms;
  --cubic: (0.3, 0.79, 0.92, 0.15);
  --delay: 300ms;
}
