<section class="hero">
  <div class="hero-bg">
    <div class="conteiner hero__conteiner">
      <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
      <p class="hero__text">Hosted by Eva Green</p>
      <button type="button" class="button"><a class="link" href="#registration">Register</a></button>
      <ul class="list social-list">
        <li class="social-list__item">
          <a class="link social-list__link" target="_blank" rel="noopener noreferrer" aria-label="twitter icon" href="">
            <svg class="icon">
              <use href="./images/svg-icons/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>

        <li class="social-list__item">
          <a class="link social-list__link" target="_blank" rel="noopener noreferrer" aria-label="instagram icon" href="">
            <svg class="icon">
              <use href="./images/svg-icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social-list__item">
          <a class="link social-list__link" target="_blank" rel="noopener noreferrer" aria-label="facebook icon" href="">
            <svg class="icon">
              <use href="./images/svg-icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>