<section>
    <div class="conteiner reg-conteiner">
        <h2 class="registration-title">Registration</h2>
        <picture class="registration-donut">
            <source srcset="/images/registration/desktop/registration.png 1x, /images/registration/desktop/registration@2x.png 2x" media="(min-width: 1200px)">
            <source srcset="/images/registration/tablet/registration.png 1x, /images/registration/tablet/registration@2x.png 2x" media="(min-width: 768px)">
            <img src="/images/registration/desktop/registration.png" alt="donut" width="250px">
        </picture>
        <div class="registration-all">
            <div class="registration-info">
                <time datetime="2021-05-23T11:00">May 23, 11:00</time>
                <address class="registration-adress">New York</address>
                <p>$ 699</p>
            </div>
            <div class="registration-unit"> 
                <h3 class="registration-subtext">Apply your personal info for registration</h3>
                <form class="registration-form">
                    <div>
                        <div class="registration-field">
                            <label for="name"></label>
                            <input class="form__item" type="text" name="name" id="name" placeholder="Your name" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="">
                        </div>
                        <div class="registration-field">
                            <label for="tel"></label>
                            <input class="form__item" type="yel" name="tel" id="tel" placeholder="Phone Number" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="">
                        </div>
                        <div class="registration-field">
                            <label for="mail"></label>
                            <input class="form__item" type="email" name="mail" id="mail" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="">
                        </div>
                    </div>
                    <div class="registration-button">
                        <div>
                            <button type="submit" class="button">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <picture class="registration-party">
            <source srcset="/images/registration/desktop/party.png 1x, /images/registration/desktop/party@2x.png 2x" media="(min-width: 1200px)" width="600px">
            <source srcset="/images/registration/tablet/party.png 1x, /images/registration/tablet/party@2x.png 2x" media="(min-width: 768px)" width="400px">
            <img src="/images/registration/desktop/party.png" alt="party">
        </picture>
    </div>
</section>