<section>
    <div class="conteiner">
        <h2 class="registration-title">Registration</h2>
        <div>
            <picture>
                <source srcset="/src/images/registration/desktop/registration.png 1x, /src/images/registration/desktop/registration@2x.png 2x" media="(min-width: 1200px)">
                <img src="/src/images/registration/desktop/registration.png" alt="donut">
            </picture>
        </div>
        <div class="registration-all">
            <div class="registration-info">
                <time datetime="2021-05-23T11:00">May 23, 11:00</time>
                <address class="registration-adress">New York</address>
                <p>$ 699</p>
            </div>
            <div class="registration-unit"> 
                <h3 class="registration-subtext">Apply your personal info for registration</h3>
                <form class="registration-form">
                    <div>
                        <div class="registration-field">
                            <label for="name"></label>
                            <input type="text" name="name" id="name" placeholder="Your name">
                        </div>
                        <div class="registration-field">
                            <label for="tel"></label>
                            <input type="yel" name="tel" id="tel" placeholder="Phone Number">
                        </div>
                        <div class="registration-field">
                            <label for="mail"></label>
                            <input type="email" name="mail" id="mail" placeholder="Email">
                        </div>
                    </div>
                    <div class="registration-button">
                        <div>
                            <button type="submit" class="button">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>