<section class="registration" id="registration">
    <div class="conteiner reg-conteiner">
        <h2 class="section__title registration__title">Registration</h2>
        <div class="registration-all">
            <div class="registration-info">
                <time datetime="2021-05-23T11:00">May 23, 11:00</time>
                <address class="registration-adress">New York</address>
                <p>$ 699</p>
            </div>

            <div class="registration-unit">
                <p class="registration-subtext">Apply your personal info <br> for registration</p>
                <form class="registration-form">
                    <div class="form-content-wrapp">
                        <div class="registration-field">
                            <label for="name"></label>
                            <input class="form__input" type="text" name="name" id="name" placeholder="Your name" required>
                        </div>

                        <div class="registration-field">
                            <label for="tel"></label>
                            <input class="form__input" type="tel" name="tel" id="tel" placeholder="Phone Number"  
                            required="">
                        </div>
                        
                        <div class="registration-field">
                            <label for="mail"></label>
                            <input class="form__input" type="email" name="mail" id="mail" placeholder="Email" 
                            required="">
                        </div>
                    </div>

                    <div class="registration-button">
                        <button type="submit" class="button reg-button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>