<section class="section reviews" id="reviews">
    <div class="container container-reviews">   
        <h2 class="section__title">Reviews</h2>

        <ul class="container-reviews__list" >
            <li class="container-reviews__item container-reviews__item--john">   
                <article>
                    <h3 class="visually-hidden">John's response</h3>
                    <picture class="container-reviews__img container-reviews__img--john">
                        <source srcset="./images/reviews/desktop/john.webp 1x, ./images/reviews/desktop/john@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />

                        <source srcset="./images/reviews/desktop/john.jpg 1x, ./images/reviews/desktop/john@2x.jpg 2x"
                            media="(min-width: 1280px)"  />
                    
                        <source srcset="../src/images/reviews/tablet/john.webp 1x, ../src/images/reviews/tablet/john@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />

                        <source srcset="../src/images/reviews/tablet/john.jpg 1x, ../src/images/reviews/tablet/john@2x.jpg 2x"
                            media="(min-width: 768px)"  />
                    
                        <img class="container-reviews__img container-reviews__img--john" src="../src/images/reviews/desktop/john.jpg " alt="Jhon">
                    </picture>
                    
                    <p class="container-reviews__star">
                        &#9733;&#9733;&#9733;&#9733;<span class="container-reviews__star--min">&#9734;</span>
                    </p>
                    <span class="container-reviews__name">John</span>
                </article>   
            </li>

            <li class="container-reviews__item container-reviews__item--will">
                <article>
                    <h3 class="visually-hidden">Will response</h3>
                    <picture >
                        <source srcset="./images/reviews/desktop/will.webp 1x, ./images/reviews/desktop/will@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp" />

                        <source srcset="./images/reviews/desktop/will.jpg 1x, ./images/reviews/desktop/will@2x.jpg 2x"
                            media="(min-width: 1280px)"   />
                    
                        <source srcset="./images/reviews/tablet/will.webp 1x, ./images/reviews/tablet/will@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />

                        <source srcset="./images/reviews/tablet/will.jpg 1x, ./images/reviews/tablet/will@2x.jpg 2x"
                            media="(min-width: 768px)"   type="image/jpeg"/>
                    
                        <source srcset="./images/reviews/mobile/will.webp 1x, ./images/reviews/mobile/will@2x.webp 2x"
                            media="(min-width: 320px)" type="image/webp" />

                        <source srcset="./images/reviews/mobile/will.jpg 1x, ./images/reviews/mobile/will@2x.jpg 2x"
                            media="(min-width: 320px)" />
                    
                        <img  class="container-reviews__img container-reviews__img--will"  src="./images/reviews/mobile/will.jpg" alt="Will">
                    </picture>
                    
                    <picture class="container-reviews__anime">
                        <source srcset="./images/reviews/tablet/donut4_2.png 1x, ./images/reviews/tablet/donut4_2@2x.png 2x"
                            media="(min-width: 768px)" />

                        <img src="./images/reviews/tablet/donut4_2.png" alt="donut" width="120">
                    </picture>
                    
                    <p class="container-reviews__star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <span class="container-reviews__name">Will</span>
                        <p class="container-reviews__text">
                            Last time I have visited a cooking course by Eva
                            I was impressed with the way she explained everything
                            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                            kitchen!
                            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                            everyone!   
                        </p>    
                </article>
            </li>

            <li class="container-reviews__item container-reviews__item--elisabeth">
                <article>
                    <h3 class="visually-hidden">Elisabeth response</h3>
                    <picture >
                        <source srcset="./images/reviews/desktop/elisabeth.webp 1x, ./images/reviews/desktop/elisabeth@2x.webp 2x"
                            media="(min-width: 1280px)" type="images/webp"  />

                        <source srcset="./images/reviews/desktop/elisabeth.jpg 1x, ./images/reviews/desktop/elisabeth@2x.jpg 2x"
                            media="(min-width: 1280px)"  />
                    
                        <source srcset="./images/reviews/tablet/elisabeth.webp 1x, ./images/reviews/desktop/elisabeth@2x.webp 2x"
                            media="(min-width: 768px)"  type="images/webp" />

                        <source srcset="./images/reviews/tablet/elisabeth.jpg 1x, ./images/reviews/desktop/elisabeth@2x.jpg 2x"
                            media="(min-width: 768px)"  />
              
                        <img class="container-reviews__img container-reviews__img--elisabeth"  src="./images/reviews/desktop/elisabeth.jpg" alt="Elisabeth" >
                    </picture>
                    
                    <p class="container-reviews__star">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <span class="container-reviews__name">Elisabeth</span>
                </article>
            </li>
        </ul>

        <span class="pagination ">&#8592; 2/15 &#8594;</span>
    </div>
</section>

        
   



