    <article class="response section reviews">

        <div class="container container-reviews">
            
        <h2 class="container-reviews__title">Reviews</h2>

            <ul class="container-reviews__list" >

                <li class="container-reviews__item container-reviews__item--john">
                      
                    <picture class="container-reviews__img container-reviews__img--john">
                      
                        <source srcset="./images/reviews/desktop/john.webp 1x, ./images/reviews/desktop/john@2x.webp 2x"
                            media="(min-width: 1200px)" type="images/webp" width="110px"/>
                        <source srcset="./images/reviews/desktop/john.jpg 1x, ./images/reviews/desktop/john@2x.jpg 2x"
                                media="(min-width: 1200px)" type="images/webp" width="110px"/>
                                
                        <source srcset="./images/reviews/tablet/john.webp 1x, ./images/reviews/tablet/john@2x.webp 2x"
                                media="(min-width: 768px)" type="images/webp" width="110px"/>
                        <source srcset="./images/reviews/tablet/john.jpg 1x, ./images/reviews/tablet/john@2x.jpg 2x"
                            media="(min-width: 768px)" type="images/webp" width="110px"/>

                        <!-- <source srcset="./images/reviews/mobile/will.webp 1x, ./images/reviews/mobile/will@2x.webp 2x"
                            media="(min-width: 320px)" type="images/webp"/>
                        <source srcset="./images/reviews/mobile/will.jpg 1x, ./images/reviews/mobile/will@2x.jpg 2x"
                            media="(min-width: 320px)" type="images/webp"/> -->

                        <img src="../src/images/reviews/desktop/john.jpg" alt="" width="110px">

                    </picture>
                    <span class="container-reviews__star">&#9733 &#9733 &#9733 &#9733</span><span class="container-reviews__star--min"> &#9734</span>
                    <span class="container-reviews__name">John</span>
                    
                </li>

                <li class="container-reviews__item container-reviews__item--will">

                    <picture class="container-reviews__img container-reviews__img--will">
                    
                        <source srcset="./images/reviews/desktop/will.webp 1x, ./images/reviews/desktop/will@2x.webp 2x"
                            media="(min-width: 1200px)" type="images/webp" />
                        <source srcset="./images/reviews/desktop/will.jpg 1x, ./images/reviews/desktop/will@2x.jpg 2x"
                            media="(min-width: 1200px)" type="images/webp" />
                    
                        <source srcset="./images/reviews/tablet/will.webp 1x, ./images/reviews/tablet/will@2x.webp 2x"
                            media="(min-width: 768px)" type="images/webp" />
                        <source srcset="./images/reviews/tablet/will.jpg 1x, ./images/reviews/tablet/will@2x.jpg 2x"
                            media="(min-width: 768px)" type="images/webp" />
                    
                        <source srcset="./images/reviews/mobile/will.webp 1x, ./images/reviews/mobile/will@2x.webp 2x"
                            media="(min-width: 320px)" type="images/webp" />
                        <source srcset="./images/reviews/mobile/will.jpg 1x, ./images/reviews/mobile/will@2x.jpg 2x"
                            media="(min-width: 320px)" type="images/webp" />
                    
                        <img src="../src/images/reviews/desktop/will.jpg" alt="" width="186px">
                    
                    </picture>
                    <span class="container-reviews__star">&#9733 &#9733 &#9733 &#9733 &#9733</span>
                    <span class="container-reviews__name">Will</span>
                    
                  
                </li>

                <li class="container-reviews__item container-reviews__item--elisabeth">

                    <picture class="container-reviews__img container-reviews__img--elisabeth">
                    
                        <source srcset="./images/reviews/desktop/elisabeth.webp 1x, ./images/reviews/desktop/elisabeth@2x.webp 2x"
                            media="(min-width: 1200px)" type="images/webp" width="110px"/>
                        <source srcset="./images/reviews/desktop/elisabeth.jpg 1x, ./images/reviews/desktop/elisabeth@2x.jpg 2x"
                            media="(min-width: 1200px)" type="images/webp" width="110px"/>
                    
                        <source srcset="./images/reviews/desktop/elisabeth.webp 1x, ./images/reviews/desktop/elisabeth@2x.webp 2x"
                            media="(min-width: 768px)" type="images/webp" width="110px"/>
                        <source srcset="./images/reviews/desktop/elisabeth.jpg 1x, ./images/reviews/desktop/elisabeth@2x.jpg 2x"
                            media="(min-width: 768px)" type="images/webp" width="110px"/>
                    
                        <!-- <source srcset="./images/reviews/desktop/will.webp 1x, ./images/reviews/desktop/will@2x.webp 2x"
                            media="(min-width: 320px)" type="images/webp" />
                        <source srcset="./images/reviews/desktop/will.jpg 1x, ./images/reviews/desktop/will@2x.jpg 2x"
                            media="(min-width: 320px)" type="images/webp" /> -->
                    
                        <img src="../src/images/reviews/desktop/elisabeth.jpg" alt="" width="110px">
                    
                    </picture>
                    <span class="container-reviews__star">&#9733 &#9733 &#9733 &#9733 &#9733</span>
                    <span class="container-reviews__name">Elisabeth</span>
                    
                </li>

            </ul>
            <p class="container-reviews__text">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                everyone!
            </p>
            
            <p>&#8592 2/15 &#8594</p>
          
        </div>

</article>

        
   

