    <article class="response section reviews">

        <div class="container container-reviews">
            
        <h2 class="container-reviews__title">Reviews</h2>

            <ul class="container-reviews__list" >
                <li class="container-reviews__item">
                <picture class="container-reviews__img container-reviews__img--john">
            
                <source srcset=" src/images/reviews/desktop/will.jpg 1x, src/images/reviews/desctop/will@2x.jpg 2x"
                    media="(min-width: 1200px)" />
<!-- 
                <source srcset="./src/images/reviews//will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x" type="image/webp"
                    media="(min-width: 768px)" />
            
                <source srcset="./src/images/reviews/mobile/will.jpg 1x,./src/images/reviews/mobile/will@2x.jpg 2x"
                    type="image/webp" media="(max-width: 767px)" />  -->
            
                <img class="response__img response__img--john" src="src/images/reviews/desktop/will.jpg" alt="Клиент">
                </picture> 
            </li>
            <li class="container-reviews__item">
                <!-- <picture class="container-reviews__img container-reviews__img--john">
            
                    <source srcset="./src/images/reviews/desktop/will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x"
                        type="image/webp" media="(min-width: 1200px)" />
            
                    <source srcset="./src/images/reviews/desktop/will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x"
                        type="image/webp" media="(min-width: 1200px)" />
            
                    <source srcset="./src/images/reviews//will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x" type="image/webp"
                        media="(min-width: 768px)" />
            
                    <source srcset="./src/images/reviews/mobile/will.jpg 1x,./src/images/reviews/mobile/will@2x.jpg 2x"
                        type="image/webp" media="(max-width: 767px)" />
            
                    <img class="response__img response__img--john" src="./src/images/reviews/mobile/will.jpg" alt="Клиент"
                        type="image/webp">
                </picture> -->
            </li>
            <li class="container-reviews__item">
                <!-- <picture class="container-reviews__img container-reviews__img--john">
            
                    <source srcset="./src/images/reviews/desktop/will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x"
                        type="image/webp" media="(min-width: 1200px)" />
            
                    <source srcset="./src/images/reviews/desktop/will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x"
                        type="image/webp" media="(min-width: 1200px)" />
            
                    <source srcset="./src/images/reviews//will.jpg 1x,./src/images/reviews/desctop/will@2x.jpg 2x" type="image/webp"
                        media="(min-width: 768px)" />
            
                    <source srcset="./src/images/reviews/mobile/will.jpg 1x,./src/images/reviews/mobile/will@2x.jpg 2x"
                        type="image/webp" media="(max-width: 767px)" />
            
                    <img class="response__img response__img--john" src="./src/images/reviews/mobile/will.jpg" alt="Клиент"
                        type="image/webp">
                </picture> -->
            </li>
            </ul>

            

            <span class="container-reviews__name">Will</span>

            <p class="container-reviews__text">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                everyone!
            </p>
            
            <p>2/15</p>
        </div>

</article>

        
   

