.button {
  min-width: 145px;
  font-family: var(--decorative-font);
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--main-bg-color);
  background-color: var(--main-accent);
  cursor: pointer;

  transition: background-color var(--duration) var(--cubic) var(--delay);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }

  @media screen and (max-width: 767.98px) {
    margin-top: 37px;
  }

  @media screen and (max-width: 1279px) {
    margin-top: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.21;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 30px;
    min-width: 158px;
  }
}
