.button {
  font-family: var(--decorative-font);
  font-size: 18px;
  line-height: 1.21;

  text-align: center;
  border: none;

  color: var(--main-bg-color);
  background-color: var(--main-accent);
  border-radius: 25px;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 145px;
  cursor: pointer;

  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: var(--dark-accent);
  }

  @media screen and (max-width: 767.98px) {
    margin-top: 37px;
  }

  @media screen and (max-width: 1279px) {
    margin-top: 26px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.21;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 30px;
    min-width: 158px;
  }
}
