.logo {
  width: 158px;
  height: 71px;

  @media screen and (max-width: 768px) {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
  }
  @media screen and (min-width: 769px) and (max-width: 1279px) {
    width: 96px;
    height: 43px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
