.navigation-list {
  position: relative;
  display: flex;
  margin-left: 38px;
}

.navigation-list__link {
  @media screen and (max-width: 1279px) {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
    transition: color var(--duration) var(--cubic) var(--delay);

    &:hover,
    :focus {
      color: var(--accent-text-color);
    }
  }

  @media screen and (min-width: 1280px) {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 1.22;
    color: var(--main-text-color);
  }
}

.navigation-list__item {
  @media screen and (max-width: 1279px) {
    padding-top: 0;
    padding-bottom: 45px;
    &:first-child {
      padding-top: 150px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.navigation-list__item:not(:last-child) {
  margin-right: 0;
  @media screen and (min-width: 1280px) {
    margin-right: 20px;
  }
}
