.navigation-list {
  display: flex;
  margin-left: 38px;
}
.navigation-list__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
}
