.social-list {
  display: flex;

  & .icon {
    height: 19px;
    width: 24px;
    fill: currentColor;
    transition: fill var(--duration) var(--cubic) var(--delay);
  }

  @media screen and (max-width: 767.98px) {
    margin-top: 44px;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 57px;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 12px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  transition: background-color var(--duration) var(--cubic) var(--delay),
    transform var(--duration) var(--cubic) var(--delay);

  &:hover,
  &:focus {
    transform: scale(1.2);
    background-color: var(--main-accent);
  }

  &:hover .icon,
  &:focus .icon {
    fill: var(--light-accent);
  }
}
