.social-list {
  display: flex;

  & .icon {
    height: 19px;
    width: 24px;
    fill: var(--main-text-color);
  }
  @media screen and (max-width: 768px) {
    margin-top: 44px;
    justify-content: center;
  }

  @media screen and (min-width: 769px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 57px;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 12px;
}
