.hero__title {
  font-family: var(--decorative-font);
  font-size: 30px;
  line-height: 1.27;
  color: var(--main-text-color);
  margin-bottom: 3px;
  width: 224px;
  @media screen and (max-width: 767.98px) {
    margin: auto;
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.02;
    margin-bottom: 15px;
    width: 490px;
  }
}

.hero__conteiner {
  @media screen and (max-width: 767.98px) {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    z-index: 100;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 57px;
  }
}

.hero__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  color: var(--main-text-color);
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.21;
  }
}

.navigation-list {
  @media screen and (max-width: 1279px) {
    position: fixed;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;

    &.is-open {
      opacity: 1;
      position: fixed;
      overflow-y: scroll;
      z-index: 200;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background-color: rgba(254, 243, 228, 0.9);
      margin: 0;
      width: 100%;
      height: 100vh;
      text-align: center;
      pointer-events: auto;
      transform: scale(1);
      transition: opacity 300ms cubic-bezier(0.3, 0.79, 0.92, 0.15),
        transform 300ms cubic-bezier(0.3, 0.79, 0.92, 0.15);
    }
  }
  @media screen and (min-width: 1280px) {
    display: inline-flex;
  }
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 205;
  top: 15px;
  right: 15px;
  border: none;
  padding: 0;
  background-color: transparent;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header-button .icon--close {
  display: none;
}

.header-button .icon--menu {
  display: block;
}

.header-button.is-open .icon--close {
  display: block;
}

.header-button.is-open:hover,
.header-button.is-open:focus .icon--close {
  transition: transform 300ms cubic-bezier(0.3, 0.79, 0.92, 0.15) 300ms;
  transform: rotate(-360deg);
  transform-origin: center center;
}

.header-button.is-open .icon--menu {
  display: none;
}

.menu-thumb {
  @media screen and (max-width: 1279.98px) {
    display: flex;
    position: fixed;
    z-index: 205;
    overflow: hidden;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 110px;
    justify-content: center;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    padding-top: 25px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.navigation-list.is-open + .menu-thumb {
  transition: transform 300ms cubic-bezier(0.3, 0.79, 0.92, 0.15) 300ms;
  transform: translateY(100%);
}

.menu-thumb__logo {
  display: block;
  position: fixed;
}
