.conteiner {
   width: 100%;
}

.flexbox {
   @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
   }
}

.content-box {
   @media screen and (max-width: 767px) {
      padding-bottom: 34px;
   }
}

.program__item::before {
   content: "\276F";
}

// .program__list--details {
//    @media screen and (max-width: 767px) {
//       padding-top: 34px;
//    }
// }

.program__item--details {
   // width: 190px;
   // height: 190px;
   background: #fef3e4;
   box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
   border-radius: 50%;
   padding: 12px 17px;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   z-index: 100;
   background-color: green;
}

.program__item--details:nth-child(odd) {
   transform: translateY(-17.5px);
}
.program__item--details:nth-child(even) {
   transform: translateY(17.5px);
}

.program__item--details {
   position: relative;
}

.program__list--details:nth-child(1) .program__item--details:before {
   content: "";
   width: 80px;
   height: 90px;
   background-image: url(./../images/program/desktop/number.png);
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   top: -25%;
   left: 25%;
}

// .program__item--details:nth-child(2) .program__item--details:before {
//    content: "";
//    width: 80px;
//    height: 90px;
//    background-image: url(./../images/program/desktop/number.png);
//    background-repeat: no-repeat;
//    background-size: contain;
//    position: absolute;
//    top: -25%;
//    left: 25%;
// }

.program__item--details:nth-child(1) svg {
   width: 25px;
   height: 23px;
}

.program__item--details:nth-child(2) svg {
   width: 26px;
   height: 24px;
}

.program__item--details:nth-child(3) svg {
   width: 25px;
   height: 25px;
}

.program__item--details:nth-child(4) svg {
   width: 32px;
   height: 21px;
}

.program__text--details {
   font-family: var(--decorative-font);
   font-weight: 400;
   font-size: 24px;
   line-height: 1.25;
   // letter-spacing: 0.01em;
   margin: 0;
   margin-bottom: 16px;
   color: var(--dark-accent);
}

.program__data {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   color: var(--dark-accent);
   margin: 0;
   margin-bottom: 17px;
}

.grid {
   display: flex;
   flex-wrap: wrap;
   margin-top: -30px;
   margin-left: -30px;
}

.grid-item {
   flex-basis: calc((100% - 30px * 2) / 2);
   margin-top: 30px;
   margin-left: 30px;
}

.program__list--details,
.content-box {
   flex-basis: calc((100% - 38px) / 2);
}

// .grid {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;
// }

// .grid-item {
//    width: 180px;
//    height: 180px;
// }
