.program {
  padding-bottom: 30px;
}

.flexbox {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content-box {
  @media screen and (max-width: 767.98px) {
    padding-bottom: 50px;
  }
}

.program__text--mb {
  margin: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 21px;
  }
}

.program__list {
  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 21px;
  }
}

.program__item {
  margin-bottom: 10px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.program__item::before {
  content: '\003E';
}

.read-more {
  display: none;
}
.read-more.is-open {
  display: inline;
}

@media screen and (min-width: 1280px) {
  .read-more {
    display: inline;
  }
}

.program__button {
  display: block;
  border: none;
  cursor: pointer;
  padding: 5px 0;
  font-family: var(--decorative-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.18;
  color: var(--main-accent);
  background-color: transparent;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.program__button .close {
  display: none;
}

.program__button.is-open .close {
  display: block;
}

.program__button.is-open .open {
  display: none;
}

.open,
.close {
  margin-bottom: 0;
}

.program__item--details:nth-child(odd) {
  @media screen and (min-width: 320px) {
    transform: translateY(-20px);
  }
}

.program__item--details:nth-child(even) {
  @media screen and (min-width: 320px) {
    transform: translateY(20px);
  }
}

.program__item--details::before {
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -60px;
}

.program__item--details:nth-child(1)::before {
  width: 77px;
  height: 85px;
  background-image: url(./../images/program/mobile/type.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/program/mobile/type@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(./../images/program/tablet/type.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/tablet/type@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 97px;
    height: 107px;
    background-image: url(./../images/program/desktop/type.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/desktop/type@2x.png);
    }
  }
}

.program__item--details:nth-child(2)::before {
  width: 65px;
  height: 72px;
  background-image: url(./../images/program/mobile/number.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/program/mobile/number@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(./../images/program/tablet/number.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/tablet/number@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 83px;
    height: 92px;
    background-image: url(./../images/program/desktop/number.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/desktop/number@2x.png);
    }
  }
}

.program__item--details:nth-child(3)::before {
  width: 70px;
  height: 77px;
  background-image: url(./../images/program/mobile/time.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/program/mobile/time@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(./../images/program/tablet/time.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/tablet/time@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 88px;
    height: 97px;
    background-image: url(./../images/program/desktop/time.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/desktop/time@2x.png);
    }
  }
}

.program__item--details:nth-child(4)::before {
  width: 66px;
  height: 73px;
  background-image: url(./../images/program/mobile/host.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(./../images/program/mobile/host@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(./../images/program/tablet/host.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/tablet/host@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 83px;
    height: 92px;
    background-image: url(./../images/program/desktop/host.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(./../images/program/desktop/host@2x.png);
    }
  }
}

.program__item--details:nth-child(1) svg {
  width: 25px;
  height: 23px;
}

.program__item--details:nth-child(2) svg {
  width: 26px;
  height: 24px;
}

.program__item--details:nth-child(3) svg {
  width: 25px;
  height: 25px;
}

.program__item--details:nth-child(4) svg {
  width: 32px;
  height: 21px;
}

.program__text--details {
  margin: 0;
  margin-bottom: 16px;
  font-family: var(--decorative-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  color: var(--dark-accent);

  @media screen and (min-width: 1280px) {
    font-size: 22px;
    line-height: 1.25;
  }
}

.program__data {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--dark-accent);

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.program__item--details {
  @media screen and (max-width: 319.98px) {
    &:not(:first-child) {
      margin-top: 55px;
    }
  }
  @media screen and (min-width: 320px) {
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 55px;
    }
  }
}

.content-box {
  flex-basis: calc((100% - 38px) / 2);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 319.98px) {
    flex-direction: column;
  }

  @media screen and (min-width: 320px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 38px) / 2);
  }

  @media screen and (max-width: 767.98px) {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.program__item--details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 142px;
  height: 142px;
  padding: 12px 17px;
  text-align: center;
  border-radius: 50%;
  background: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
  }
}
