.registration {
  @media screen and (max-width: 767.98px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }
}

.reg-conteiner {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767.98px) {
    max-width: 290px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }
}

.reg-conteiner::before {
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    z-index: -1;
    width: 196px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(69.49deg);
    background-image: url(../images/registration/tablet/donut.png);
    top: 34px;
    left: -50px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/registration/tablet/donut@2x.png);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/registration/desktop/donut.png);
    top: 49px;
    left: -127px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/registration/desktop/donut@2x.png);
  }
}

.reg-conteiner::after {
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    width: 151px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-78.68deg);
    z-index: -1;
    background-image: url(../images/registration/tablet/party-confetti.png);
    top: 214px;
    right: -33px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/registration/tablet/party-confetti@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 289px;
    height: 407px;
    background-image: url(../images/registration/tablet/party-confetti.png);
    top: 80px;
    right: -57px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/registration/tablet/party-confetti@2x.png);
    }
  }
}

.registration__title {
  margin-bottom: 30px;
}

.registration-all {
  background-color: var(--main-bg-color);

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 150px;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.registration-info {
  font-weight: 500;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-right: 30px;
    text-align: right;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.registration-adress {
  margin-bottom: 25px;
  font-style: normal;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.registration-unit {
  padding-top: 11px;

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 18px;
    text-align-last: left;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 30px;
  }
}

.registration-subtext {
  margin-bottom: 15px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.registration-form {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.registration-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;

  @media screen and (min-width: 1200px) {
    width: 235px;
  }
}

.registration-field:last-child {
  margin-bottom: 0;
}

.registration-button {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 25px;
  }
}

.reg-button {
  margin-top: 35px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
