.registration-section {
  background-size: 240px 230px, 300px 500px;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(../images/registration/tablet/registration.png),
      url(../images/registration/tablet/party.png);
    background-position: left 10px top 22px, right -50px bottom -275px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/registration/tablet/registration@2x.png),
        url(../images/registration/tablet/party@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/registration/desktop/registration.png),
      url(../images/registration/desktop/party.png);
    background-position: left 132px top 6px, right 12px bottom -281px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/registration/desktop/registration@2x.png),
        url(../images/registration/desktop/party@2x.png);
    }
  }
}

.reg-conteiner {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767.98px) {
    max-width: 290px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }
}

.registration-section__title {
  margin-bottom: 30px;
}

.registration-all {
  background: var(--main-bg-color_);

  @media screen and (min-width: 768px) {
    display: flex;
    background: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }
}

.registration-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  border-left: 0;

  @media screen and (min-width: 768px) {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 30px;
    text-align: right;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
    border-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 110px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.registration-adress {
  margin-bottom: 25px;
  font-style: normal;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.registration-unit {
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 30px;
  }
}

.registration-subtext {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 210px;
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    width: 220px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.registration-form {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.registration-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  @media screen and (min-width: 1200px) {
    width: 235px;
  }
}

.registration-field:last-child {
  margin-bottom: 0;
}

.form__item {
  color: var(--main-accent);
}

.registration-button {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 25px;
  }
}

.reg-button {
  margin-top: 35px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
