.container-reviews {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 626px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    max-width: 626px;
  }
}

.container-reviews__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  font-family: var(--decorative-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--main-text-color);
}

.container-reviews__name {
  display: block;
  font-family: var(--main-font);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;
  text-align: center;
  color: var(--main-text-color);
}

.response {
  text-align: center;
}

.container-reviews__text {
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main-text-color);
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
  }
}

.pagination {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  height: 20px;
  outline: 1px solid tomato;
}
