.container {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  


  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
      padding-bottom: 68px;

  }


}

.slider__items {
  text-align: center;
  width: 230px;
  transform: scale(0.7);
  transition: transform 300ms;
}

.slick-current {
  transform: scale(1);
}

.reviews__number {
  margin-left: auto;
  margin-right: auto;
}

.reviews__text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);

  @media screen and (min-width: 630px) {
    padding: 0;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}



.slick-slide {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.slider__pictures{
  display: flex;
  justify-content: center;
}


.container-reviews__img{
 
  max-width: 110px;

  @media screen and ( min-width: 768px) {
    max-width: 110px;
  }
 @media screen and (min-width: 1280px) {
     max-width: 186px;
  }

}



.reviews__name {
  display: block;
  font-family: var(--main-font);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.64;
  text-align: center;
  color: var(--main-text-color);
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
