.reviews {
  position: relative;
}

.container-reviews {
  max-width: 626px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media screen and (min-width: 320px) {
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 68px;
  }
}

.container-reviews__name {
  display: block;
  font-family: var(--main-font);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.64;
  text-align: center;
  color: var(--main-text-color);
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.container-reviews__text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);

  @media screen and (min-width: 630px) {
    position: absolute;
    top: 85%;
    left: 50%;
    min-width: 626px;
    padding: 0;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 768px) {
    top: 85%;
    left: 50%;
  }

  @media screen and (min-width: 1280px) {
    top: 85%;
    left: 50%;

    font-size: 18px;
    line-height: 1.22;
  }
}

.pagination {
  display: block;
  font-size: 14px;
  line-height: 1.21;
  color: #ab816c;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.container-reviews__item {
  list-style: none;
  padding: 0;
}

.container-reviews__list {
  padding: 0;

  @media screen and (min-width: 630px) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 280px;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    height: 400px;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .container-reviews__item:nth-child(2) {
    padding-top: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .container-reviews__item:nth-child(2) {
    padding-top: 24px;
  }
}

@media screen and (max-width: 767.89px) {
  .container-reviews__item--elisabeth,
  .container-reviews__item--john {
    display: none;
  }

  .container-reviews__img--will {
    min-width: 110px;
    min-height: 110px;
  }
}

@media screen and (min-width: 768px) {
  .container-reviews__item:not(:last-child) {
    margin-right: 38px;
  }

  .container-reviews__img--john,
  .container-reviews__img--elisabeth {
    display: block;
    min-width: 110px;
    min-height: 110px;
  }

  .container-reviews__img--will {
    min-width: 186px;
    min-height: 186px;
  }
}

@media screen and (min-width: 1280px) {
  .container-reviews__item:not(:last-child) {
    margin: 0;
  }

  .container-reviews__img--john,
  .container-reviews__img--elisabeth {
    min-width: 136px;
    min-height: 136px;
  }

  .container-reviews__img--will {
    min-width: 234px;
    min-height: 234px;
  }
}

.container-reviews__star--min,
.container-reviews__star {
  margin: 0;
  font-size: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #ab816c;
}

.container-reviews__item--will {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767.89px) {
  .container-reviews__anime {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-reviews__anime {
    position: absolute;
    top: -25%;
    left: 85%;
    display: block;
    transform: translate(-50%, -50%);
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

// @media screen and (min-width: 1280px) {
//   .container-reviews__anime {
//     top: 100%;
//     left: 75%;
//     transform: translate(-50%, -50%);
//   }
// }
.container-reviews__img {
  border-radius: 50%;
  overflow: hidden;
}
