.container-reviews {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 626px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    max-width: 626px;
  }
}

.container-reviews__title {
  // margin-right: auto;
  // margin-left: auto;
  margin-bottom: 24px;
  font-family: var(--decorative-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--main-text-color);
}

.container-reviews__name {
  display: block;
  font-family: var(--main-font);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.64;
  text-align: center;
  color: var(--main-text-color);
}

.response {
  text-align: center;
}

.container-reviews__text {
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main-text-color);
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
  }
}

.pagination {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  height: 20px;
  outline: 1px solid tomato;
}

.container-reviews__item{
  list-style: none;
}

.container-reviews{
  margin-left: auto;
  margin-right: auto;

}

.container-reviews__list{
  padding: 0;
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

      margin: 0;
    
  }
 @media screen and (min-width:1200px) {
    
    justify-content: space-between;

        
  }


}


//  .container-reviews__img--john,
//  .container-reviews__img--elisabeth{
//   display: block;
//   max-height: 110px; 
 
// }


.container-reviews__item{
  padding: 0;
}

  // @media screen and (min-width:768px) {
   
  //    .container-reviews__item:not:last-child{
  //     margin-right: 25px;
  //   }
  // }

@media screen and (max-width: 767.89px) {
  .container-reviews__item--elisabeth,
  .container-reviews__item--john{
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container-reviews__item:not(:last-child){
    margin-right:38px ;
     
  }
      .container-reviews__img--john,
.container-reviews__img--elisabeth{
  display: block;
  max-height: 110px; 
} 
    
  }

  @media screen and (min-width: 1200px) {
  .container-reviews__item:not(:last-child){
    margin:0 ;
     
  }
}
.container-reviews__star--min,
.container-reviews__star{
  text-align: center;
  color: #AB816C;

}
.container-reviews__item--will{
  display: flex;
  flex-direction: column;
}